.district-list {
  grid-column: 1 / -1;
  padding-top: var(--block-space);
  padding-bottom: var(--block-space);
}
.district-list--bold {
  --bg-color: var(--green);
  --highlight-color: var(--white);
}

.district-list__title {
  margin-bottom: var(--space-5);
  text-align: center;
}

.district-list__content {
  position: relative;
  width: 87.5vw;
  max-width: var(--block-text-wide-width);
  margin-left: auto;
  margin-right: auto;
}

.district-list__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.district-list__position {
  font-family: var(--text);
  font-weight: var(--text-bold);
  text-align: center;
}

.district-list__candidate-neutral {
  display: grid;
  grid-template-columns: 20px 50px 1fr;
  padding: var(--space-2) 0;
  column-gap: var(--space-3);
  margin-bottom: var(--space-2);
  width: 100%;
  max-width: var(--block-text-wide-width);
  min-height: calc(50px + var(--space-2) * 2);
  align-items: center;
  text-decoration: none;
  row-gap: var(--space-2);
  border-bottom: 2px solid var(--grey-light);
}
.district-list__list > li:last-child .district-list__candidate-neutral {
  border-bottom: 0;
}

.district-list__candidate-bold {
  display: grid;
  grid-template-columns: 20px 50px 1fr;
  column-gap: var(--space-3);
  margin-bottom: var(--space-2);
  align-items: center;
  text-decoration: none;
}
.district-list__candidate-bold div.district-list__photo {
  box-shadow: 0 0 0 2px var(--black);
}
.district-list__photo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  background: var(--green);
}
.district-list__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: var(--text);
  font-weight: var(--text-semi-bold);
}
.district-list__arrow {
  display: none;
}
@media (min-width: 600px) {
  .district-list__candidate-neutral {
    grid-template-columns: 40px 80px 1fr 10px;
    min-height: calc(80px + var(--space-2) * 2);
    padding: var(--space-4);
    margin-bottom: 0;
    row-gap: 0;
    column-gap: var(--space-4);
  }
  .district-list__list > li:first-child .district-list__candidate-neutral {
    border-top: 2px solid var(--grey-light);
  }
  .district-list__list > li:last-child .district-list__candidate-neutral {
    border-bottom: 2px solid var(--grey-light);
  }

  .district-list__candidate-bold {
    grid-template-columns: 40px 80px 1fr 10px;
    padding: var(--space-2) var(--space-4);
    row-gap: 0;
    column-gap: var(--space-4);
    background: var(--white);
    border: 4px solid var(--black);
  }
  .district-list__candidate-bold div.district-list__photo {
    box-shadow: none;
  }
  .district-list__photo {
    width: 80px;
    height: 80px;
  }
  .district-list__position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--text);
    font-weight: var(--text-bold);
    font-size: 1.3rem;
  }
  .district-list__name {
    transform: translateY(0.1em);
    margin-bottom: 0;
    font-family: var(--headline);
    font-weight: var(--headline-extrabold);
    font-size: 1.3rem;
  }
  .district-list__arrow {
    display: block;
    transform: scale(1.5);
  }
  [data-whatintent="keyboard"] .district-list__candidate-bold:focus {
    color: var(--white);
    background: var(--black);
    outline: 0;
  }
  [data-whatintent="keyboard"]
    .district-list__candidate-bold:focus
    .district-list__arrow
    path {
    stroke: white;
  }
}
