.k-block-container-type-chapter-headline {
  padding: 0;
}
.k-block-type-chapter-headline input {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.75rem;
  border: 0;
}
.k-block-type-chapter-headline input:focus {
  outline: 0;
}
