.diagonal {
  --bg-color: var(--white);
  --highlight-color: var(--green);
  position: relative;
  margin: var(--diagonal-space) 0;
}
.diagonal--overlap {
  margin: 0;
}
.diagonal::before {
  content: "";
  position: absolute;
  top: calc(-0.5 * var(--diagonal));
  left: 0;
  width: 100%;
  height: calc(100% + var(--diagonal));
  clip-path: polygon(
    0% calc(var(--diagonal) / 2),
    100% 0,
    100% calc(100% - calc(var(--diagonal) / 2)),
    0% 100%
  );
  background: var(--bg-color);
  z-index: 1;
}
.diagonal > * {
  z-index: 1;
}
.diagonal u {
  background-color: var(--highlight-color);
}