h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 0;
  margin-bottom: var(--space-3);
  line-height: 1.3;
  font-family: var(--headline);
  font-weight: var(--headline-extrabold);
  overflow-wrap: break-word;
}

h1,
.h1 {
  font-size: 2.4rem;
}
h2,
.h2 {
  font-size: 2rem;
  margin-top: 0;
}
h3,
.h3 {
  font-size: 1.3rem;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: var(--space-2);
  font-size: 1.125rem;
  line-height: 1.3;
  overflow-wrap: break-word;
}
p,
.p {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: var(--space-3);
  line-height: 1.6;
  -webkit-hyphens: auto;
  hyphens: auto;
}
a {
  color: var(--black);
}
a:hover {
  text-decoration: none;
}
strong {
  font-weight: var(--text-semi-bold);
}
u {
  margin: 0 -0.1em;
  padding: 0.1em 0.1em;
  background: var(--green);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-decoration: none;
}
dl {
  display: grid;
  margin-top: 0;
  margin-bottom: var(--space-2);
}
dt {
  font-family: var(--text);
  font-weight: var(--text-semi-bold);
  line-height: 1.6;
}
dd {
  margin: 0 0 var(--space-4) 0;
  font-family: var(--text);
  line-height: 1.6;
  word-break: break-word;
}
dd:last-child {
  margin-bottom: 0;
}
dt,
dd {
  -webkit-hyphens: auto;
  hyphens: auto;
}
@media (min-width: 600px) {
  dl {
    grid-template-columns: repeat(2, minmax(0, auto));
    grid-gap: var(--space-3) var(--space-5);
  }
  dt,
  dd {
    margin: 0;
    word-wrap: break-word;
  }
}

.no-hyphens {
  -webkit-hyphens: none;
  hyphens: none;
}

.link {
  line-height: 1.5;
  padding-bottom: 2px;
  font-family: var(--text);
  font-weight: var(--text-semi-bold);
  text-decoration: none;
  background-image: linear-gradient(
    to bottom,
    transparent calc(100% - 0.14em),
    currentColor 0.14em
  );
}
.link:hover,
.link:focus {
  background-image: none;
}

.button {
  flex-shrink: 0;
  padding: 0.75em 1.25em;
  font-family: var(--text);
  font-weight: var(--text-semi-bold);
  background: var(--green);
  border: none;
  border-radius: 100px;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  -webkit-appearance: none;
}
.button:active {
  transform: scale(0.96);
}
.button:hover,
.button:focus {
  background: transparent;
  box-shadow: inset 0 0 0 0.15em var(--green);
}
.button--left {
  align-self: flex-start;
}
[data-whatintent="mouse"] .button:focus {
  outline: 0;
}
