.k-block-container-type-button {
  text-align: center;
}
.k-block-type-button div {
  display: inline-block;
  padding: 0.75em 1.25em;
  font-weight: bold;
  background: #00eccd;
  border-radius: 100px;
}
