.livestream {
  padding-bottom: var(--space-10);
  grid-column: 1 / -1;
}
.livestream::before {
  content: "";
  background: var(--green);
  grid-column: 1 / -1;
  grid-row: 1 / 4;
  clip-path: polygon(0% 0%, 100% 0, 100% calc(100% - 2.5vw), 0% 100%);
  z-index: -1;
}
.livestream__title {
  margin-top: var(--space-30);
  grid-row: 1 / 2;
}
@media (max-width: 500px) {
  .livestream__title {
    font-size: 1.8rem;
  }
}
.livestream__date {
  font-family: var(--text);
  font-weight: var(--text-bold);
  margin-bottom: var(--space-4);
  grid-row: 2 / 3;
}
@media (min-width: 900px) {
  .livestream__title {
    grid-column: 4 / -4;
  }
  .livestream__date {
    grid-column: 4 / -4;
  }
}

.livestream__container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  grid-row: 3 / 5;
}
@media (min-width: 900px) {
  .livestream__container {
    grid-column: 3 / -3;
  }
}

.livestream__play-button {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  display: block;
  width: 60px;
  height: 60px;
  transform: scale(1);
  transition: transform 0.2s;
}
@media (min-width: 600px) {
  .livestream__play-button {
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    width: 120px;
    height: 120px;
  }
}

.livestream__video:hover .livestream__play-button {
  transform: scale(1.1);
}

.livestream__video {
  position: relative;
  display: block;
  height: 0;
  margin-bottom: var(--space-7);
  padding-bottom: 56.25%;
}
.livestream__thumbnail,
.livestream__video--playing iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
