.k-block-container-type-chapter-section {
  padding: 0;
}
.k-block-type-chapter-section input {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.75rem;
  border: 0;
}
.k-block-type-chapter-section input:focus {
  outline: 0;
}

.k-block-type-chapter-section .k-writer {
  font-size: 1.2rem;
  padding: 0.75rem;
  line-height: 1.5;
}

.k-block-type-chapter-section .k-writer u {
  margin: 0 -0.1em;
  padding: 0.1em 0.1em;
  background: #00ecdd;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-decoration: none;
}
