.events-preview {
  grid-column: 1 / -1;
  padding-top: var(--block-space);
  padding-bottom: var(--block-space);
  justify-items: center;
}
.events-preview--bold {
  --bg-color: var(--green);
  --highlight-color: var(--white);
}
.events-preview__title {
  grid-row: 1;
  margin: 0;
  margin-bottom: var(--space-5);
}
.events-preview__more-link {
  margin-top: var(--space-5);
  margin-bottom: var(--space-5);
}
.events-preview__more-link::after {
  content: " →";
  position: relative;
  font-size: 1.1em;
  top: 0.05em;
}
.events-preview--bold .events-preview__title {
  font-family: var(--headline);
  font-weight: var(--headline-bold);
}
