.logo-wall {
  padding-top: calc(var(--block-space) / 2);
  padding-bottom: var(--block-space);
}

.logo-wall__headline {
  margin-bottom: var(--space-10);
  text-align: center;
  font-size: 1rem;
  font-family: var(--text);
  font-weight: var(--text-bold);
  color: var(--grey);
}

.logo-wall__images {
  grid-column: 2 / -2;
  display: grid;
  column-gap: var(--space-8);
  row-gap: var(--space-8);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  margin-bottom: var(--space-8);
}

.logo-wall__image {
  max-width: 200px;
}
