.text-and-steps {
  grid-column: 1 / -1;
  row-gap: var(--space-8);
  padding-top: calc(var(--block-space) / 2);
  padding-bottom: calc(var(--block-space) / 2);
}
.text-and-steps__steps {
  margin-top: var(--space-4);
  margin-bottom: var(--space-4);
  padding-bottom: var(--space-5);
}

.text-and-steps__steps ol {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: text-and-steps;
}
.text-and-steps__steps ol li {
  display: flex;
  align-items: baseline;
  margin-bottom: var(--space-2);
  counter-increment: text-and-steps;
}
.text-and-steps__steps ol li::before {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: var(--space-3);
  color: var(--blue);
  content: counter(text-and-steps);
  width: 38px;
  height: 38px;
  font-size: 1.2rem;
  font-family: var(--text);
  font-weight: var(--text-bold);
  border: 2px solid currentColor;
  border-radius: 100%;
}

.text-and-steps__steps li code {
  display: inline-block;
  margin-bottom: var(--space-1);
  font-family: var(--text);
  font-weight: var(--text-semi-bold);
  font-size: 1rem;
}

.text-and-steps__buttons {
  display: flex;
  flex-direction: column;
  margin-top: var(--space-4);
  align-items: center;
}
.text-and-steps__buttons > * {
  margin-bottom: var(--space-4);
}

@media (min-width: 500px) {
  .text-and-steps__steps ol li::before {
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 900px) {
  .text-and-steps__text {
    grid-column: 2 / 9;
  }
  .text-and-steps__buttons {
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }
  .text-and-steps__buttons > * {
    margin-bottom: 0;
    flex-shrink: 0;
  }
  .text-and-steps__buttons > :first-child {
    margin-right: var(--space-4);
  }
  .text-and-steps__steps {
    margin-top: 0;
    grid-column: 10 / -2;
  }
}
