.two-column-list {
  width: 87.5vw;
  margin: var(--space-4) auto;
  padding-top: calc(var(--block-space) / 2);
  padding-bottom: calc(var(--block-space) / 2);
  max-width: var(--block-text-width);
  border-top: 4px solid var(--black);
}

.two-column-list h3 {
  margin-bottom: var(--space-5);
}